.items-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100%;
  
  .items-inner {
    width: 900px;
    height: 100%;
  }

  .items-company-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 100%;
    
  }
}


$midnight: #2c3e50;
$clouds: #ecf0f1;

// General

h1 {
  margin: 0;
  line-height: 2;
  text-align: center;
}

h2 {
  margin: 0 0 .5em;
  font-weight: normal;
}

input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}


/* Accordion styles */
.tabs {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
}
.tab-content {
  display: grid;
  height: 100%;
  margin: 0;
  padding: 0;
  .tab-content-inner {
    padding: 10px;
  }

  .tab-content-company-info {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    .company-pic {
      overflow: hidden;
      background-position: center;
      width: 100%;

      img {
      }
    }

    .tab-ul-container {
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      width: 100%;
    }
  }
}

.items-container {
  .items-inner {
    .tab {
      .tab-content {
        .tab-content-container {
          display: grid;
          .tab-content-summary {
            
          }
          .tab-content-content {
            display: flex;
            justify-content: center;
            align-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            .tab-content-image {
              overflow: hidden;
              width: 100%;
            }
            .tab-ul-content {
              display: flex;
              justify-content: space-evenly;
              align-content: center;
              align-items: center;
              list-style: none;
              width: 100%;
              
              a {
                text-decoration: none;
              }

              ul {
                display: grid;
                justify-content: center;
                align-content: center;
                align-items: center;
              }
              li {
                border-bottom: 2px solid black;
              }
            }
          }
        }
      }
    }
  }
}

.tab {
  width: 100%;
  color: white;
  overflow: hidden;

  .tab-label {
    .company-name-container {
      display: flex;
      justify-content: space-around;
      width: 100%;
      padding: 10px;
      font-size: 1.3em;

      .tab-left-container {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
      }
      .tab-right-container {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
      }
      .rank {
        font: 3em;
        font-weight: 700;
      }
      
      p {
        margin: 5px;
        padding: 10px;
      }
    }
    
  }

  &-label {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background: $midnight;
    font-weight: bold;
    cursor: pointer;

    /* Icon */
    &:hover {
      background: darken($midnight, 10%);
    }

    &::after {
      content: "\276F";
      width: 1em;
      height: 1em;
      text-align: center;
      transition: all .35s;
    }
  }

  &-content {
    max-height: 0;
    padding: 0 1em;
    color: $midnight;
    background: white;
    transition: all .35s;
  }

  &-close {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    font-size: 0.75em;
    background: $midnight;
    cursor: pointer;

    &:hover {
      background: darken($midnight, 10%);
    }
  }
}

// :checked
input:checked {
  +.tab-label {
    background: darken($midnight, 10%);
    padding: 10px;

    &::after {
      transform: rotate(90deg);
    }
  }

  ~.tab-content {
    max-height: 100vh;
    padding: 1em;
  }
}




@media screen and (max-width: 700px) {
  .items-container {
    .items-inner {
      .tab {
        height: 100%;

        .tab-label {
          .company-name-container {
            margin: 5px;
            width: 100%;
            display: grid;
            justify-content: center;
            align-content: center;
            align-items: center;
            text-align: center;
            font-size: 1.1em;
            .tab-left-container {
              justify-content: center;
              align-content: center;
              align-items: center;
            }
            .tab-right-container {
              justify-content: center;
              align-content: center;
              align-items: center;
            }
          }
        }

        .tab-content {
            height: 100%;

          .tab-content-container {
            display: grid;
            justify-content: center;
            align-content: center;
            align-items: center;
            height: 100%;

            .tab-content-summary {
              text-align: left;
              padding: 10px;
              font-size: 0.9em;
            }

            .tab-content-content {
              display: grid;
              justify-content: center;
              align-content: center;
              align-items: center;
              width: 100%;
              height: 100%;
              overflow: hidden;

              .tab-content-image {
                display: flex;
                justify-content: center;
                align-items: center;
                align-content: center;
                overflow: hidden;
                text-align: center;
                padding: 10px;
                margin: 0px;
                width: 100%;
                background-position: center;
                background-size: 100% 100%;
              }

              .tab-ul-content {
                display: flex;
                justify-content: space-evenly;
                align-content: center;
                align-items: center;
                list-style: none;
                width: 100%;
                padding: 10px;
                height: 200%;
                text-align: left;

                li {
                  border-bottom: 2px solid black;
                  a {
                    text-decoration: none;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}