// toppppppppppppppp
.top-container {
  background: black;
  height: 100%;
  padding: 10px;
  color: white;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  .top-inner-container {
    height: 500px;
    display: grid;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: left;

    p {
      font-size: 3em;
      margin: 0;
    }
    h2 {
      font-size: 5em;
      margin: 0;
      color: #ffd615;
    }
    h1 {
      font-size: 9em;
      margin-top: -100px;
    }
  }
}

// bottommmmmmmmmmmmmmm
.bottom-container {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  background: #ffd615;
  height: 100%;
  padding: 10px;

  .bottom-inner-container {
    display: grid;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 600px;
    width: 50%;
    
    .bottom-header {
      font-size: 2em;
      font-weight: 700;
    }
    .bottom-bio {
      font-size: 1.4em;
    }
  }
}

@media screen and (max-width: 700px) {
  .top-container {
    display: grid;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 0;
    width: 100%;
    .top-inner-container {
      p {
        font-size: 2em;
      }
      h2 {
        font-size: 3em;
      }
      h1 {
        font-size: 4.2em;
        margin-top: -50px;
      }
    }
  }

  .bottom-container {
    height: 100%;
    margin: 0;
    width: 100%;
    .bottom-inner-container {
    height: 100%;
    width: 70%;
      h4 {
        font-size: 1.2em;
      }
      p {
        font-size: 1.1em;
      }

    }
  }
}